<head>
  <% provide(:title, 'Home') %>
</head>

<body>
  
  
　<table class="table">
  <caption>入手可能な調味料をチェックしてください</caption>
  <%#= 後日、each do で表示%>
  <tbody>
    <tr>
      <td><%= check_box_tag(:seasoning_ingredient_A) %><%= label_tag(:seasoning_ingredient_A, "ingredient_A") %></td>
      <td><%= check_box_tag(:seasoning_ingredient_B) %><%= label_tag(:seasoning_ingredient_A, "ingredient_B") %></td>
      <td><%= check_box_tag(:seasoning_ingredient_C) %><%= label_tag(:seasoning_ingredient_A, "ingredient_C") %></td>
    </tr>
    <tr>
      <td><%= check_box_tag(:seasoning_ingredient_B) %><%= label_tag(:seasoning_ingredient_A, "ingredient_D") %></td>
      <td><%= check_box_tag(:seasoning_ingredient_B) %><%= label_tag(:seasoning_ingredient_A, "ingredient_E") %></td>
      <td><%= check_box_tag(:seasoning_ingredient_B) %><%= label_tag(:seasoning_ingredient_A, "ingredient_F") %></td>
    </tr>
    <tr>
      <td><%= check_box_tag(:seasoning_ingredient_A) %><%= label_tag(:seasoning_ingredient_A, "ingredient_G") %></td>
      <td><%= check_box_tag(:seasoning_ingredient_B) %><%= label_tag(:seasoning_ingredient_A, "ingredient_H") %></td>
      <td><%= check_box_tag(:seasoning_ingredient_B) %><%= label_tag(:seasoning_ingredient_A, "ingredient_I") %></td>
    </tr>
  </tbody>
</table>

<div id="search_button">
 <span class="search_button">
  <button class="btn btn-success btn-sm" type="submit">自作調味料検索</button>
 </span>

 <span class="search_button">
  <button class="btn btn-default btn-sm" style="color: #FFFFFF; background: #2A120A;" type="submit">レシピ検索</button>
 </span>
</div>

</body>