<% provide(:title, 'Home') %>
　<table class="table">
  <caption>入手可能な調味料をチェックしてください</caption>
  <tbody>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##4", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##5", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##6", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#4#", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#5#", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#6#", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "4##", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "5##", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "6##", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##4", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##5", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##6", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#4#", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#5#", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#6#", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "4##", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "5##", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "6##", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##4", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##5", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##6", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#4#", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#5#", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#6#", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "4##", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "5##", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "6##", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##4", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##5", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "##6", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#4#", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#5#", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "#6#", '#' %></td>
    </tr>
    <tr>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "4##", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "5##", '#' %></td>
      <td><%= check_box 'page', 'freezeflag', {}, true, false %><%= link_to "6##", '#' %></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success" type="submit">自作調味料検索</button>

<button class="btn btn-default" style="color: #FFFFFF; background: #2A120A;" type="submit">レシピ検索</button>
