<!--

<form role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button class="btn btn-default" style="color: #FFFFFF; background: #2A120A;" type="submit">レシピ名検索</button>
</form>

-->

<p class="sidebar">知っておきたい豆知識</p>
 <ul>
  <li><%= link_to "「1カップ」どこでも同じ量じゃない？簡単換算ページ", '#' %></li>
  <li><%= link_to "ワット数が違う？！電子レンジの温め時間は", '#' %></li>
  <li><%= link_to "オーブンの温度を°Fにしたい！", '/oven_temp' %></li>
  <li><%= link_to "どこまでOK？ベジタリアンに御馳走するなら", '/limit' %></li>
  <li><%= link_to "地域による好きな味の傾向って？", '/fav' %></li>
  
 </ul>