<!DOCTYPE html>
<html>
<head>
  <title>SeasoningDictionary | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shiv' %>
</head>
<body>
 <div class="container">
    <%= render 'layouts/header' %>
  <div class="row">
   <div class="col-md-9">
     <%= yield %>
   </div>
   <div class="col-md-3">
      <%= render 'layouts/sidebar' %>
   </div>
  </div>
  <%= render 'layouts/footer' %>
 </div>
</body>
</html>
